<% if logged_in? %>
  <% provide(:title, "Edit user") %>
  <div class="container settings_center">
    <div class="left_settings">
      <h1> Settings</h1>
      <ul>
        <li>Edit Profile</li>
        <li>Change Password</li>
        <li>Privacy and Security</li>
      </ul>
    </div>

    <div class="right_settings">
      <%= form_for @user do |f| %>
        <%= f.label :password, class: "vibin_form_text" %>
        <%= f.text_field :password, class: "form-control" %>

        <%= f.label :password_confirmation, class: "vibin_form_text" %>
        <%= f.text_field :password_confirmation, class: "form-control" %>
        <%= f.submit "Save changes", class: "btn btn-primary vibin_btn" %>
      <% end %>
    </div>
  </div>
<% end %>
