<div id="explore">
  <div class="explore-page-row">
    <div class="explore-TopDj-column">
      <h5> Top DJ's</h5>
      <% @topDJ.each_with_index do |a, index| %>
        <h1><%= index +1 %></h1>
        <%= image_tag url_for(a.broadcast_cover), style: "width:130px; height:130px" %>

      <% end %>
    </div>
    <div class="explore-TopChart-column">
      <h5> Top Chart</h5>
      <% @TopChart.each do |song| %>
        <div class="explore-TopChart-row">
          <div class="explore-TopChart-row-column">
            <% user = getArtist(song) %>
            <button class="playButton" onclick="SelectedSong(this, '<%=user.name%>' ,'<%= user.username%>' ,'<%= song.title %>', true ,<%=song.id %>,'<%=url_for(song.song_file) %>','<%=url_for(song.cover_image) %>'); incrementPlays(<%= song.id %>, <%= user.id%>)">
              <%= image_tag (song.cover_image), class: "playButtonImage" %>
            </button>
          </div>
          <div class="explore-TopChart-info-column">
            <p><%= user.name %></p>
            <p><%= song.title %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="explore-TopArtist-column">
      <h5> Top Artist</h5>
      <% @TopArtist.each do |artist| %>
        <%= artist.name %>
        @<%= artist.username %>
      <% end %>
    </div>
    <div class="explore-TopChartforGenre-column">
      <h5> Top Chart for ___</h5>
      <select id="genre_value">
        <option value="EDM">EDM</option>
        <option value="African">African</option>
        <option value="Rock">Rock</option>
        <option value="Jazz">Jazz</option>
        <option value="Dubstep">Dubstep</option>
        <option value="Blues">Blues</option>
        <option value="Techno">Techno</option>
        <option value="Country">Country</option>
        <option value="Electro">Electro</option>
        <option value="Rap">Rap</option>
        <option value="IndieRock">Indie Rock</option>
        <option value="Pop">Pop</option>
        <option value="Classic">Classic</option>
      </select>
      <div id="topsongs" class=album>
        <div id="top_song_pic" class=album_view>


        </div>

        <div id="top_song_details" class=album_view>


        </div>
      </div>
    </div>
    <div class="explore-Clout-column">
      <h5> Clout List</h5>
    </div>
  </div>
</div>
<script>

    $("#genre_value").change(function () {
        let text = $(this).children("option:selected").val();
        Rails.ajax({
            url: "/topSong?genre=" + text.trim(),
            type: "get",
            processData: false,
            success: function (song) {
                if (parseInt(song.id) === -1) {
                    $("#top_song_pic").empty();
                    $("#top_song_details").empty();
                    $("#top_song_details").append("<h2>No top chart yet!</h2>")
                } else {
                    $("#top_song_pic").empty();
                    $("#top_song_details").empty();
                    let button = document.createElement("button");
                    button.setAttribute("class", "playButton");
                    console.log(song.song_file)
                    button.addEventListener('click', event => {
                        SelectedSong(this, String(song.name), String(song.username), String(song.title), true, parseInt(song.id), String(song.song_file), String(song.cover));
                        incrementPlays(parseInt(song.id), parseInt(song.user_id))
                    });
                    let img = document.createElement("img");
                    img.setAttribute("src", song.cover);
                    img.setAttribute("class", "playButtonImage");
                    button.appendChild(img);
                    let title = document.createElement("p");
                    title.appendChild(document.createTextNode(song.title));
                    let name = document.createElement("p");
                    name.appendChild(document.createTextNode(song.name));
                    $("#top_song_pic").append(button);
                    $("#top_song_details").append(name);
                    $("#top_song_details").append(title);
                }
            },
            error: function (e) {
                console.log(e);
            }
        })
    });
</script>
