<div id="explore">
  <div class="exploreRow">
    <div class="exploreTopStreamerColumn">
      <h5> Top Streamers</h5>
      <% @topDJ.each_with_index do |a, index| %>
        <% user = User.find(a.user_id) %>
        <%= image_tag url_for(a.broadcast_cover), id: "Top_Streamer", style: "width:255px; height:255px" %>
        <div class="exploreTopStreamerBox" style="margin-top: -254px;">
          <button class="play " data-broadcaster="<%= a.id %>">
            <i id="play-icon" class="ion-play"></i>
          </button>
          <button class = "follow">
            Follow
          </button>
          <div class="top" style="display: flex">
            <% if user.avatar.attached? %>
              <%= image_tag (user.avatar), class: "explore-avatar" %>
            <% else %>
              <img src="http://localhost:3000/default-avatar.jpg" class="explore-avatar">
            <% end %><div>
            <h5 id="Top_Streamer_Text" style="margin-left: 5px; margin-top:11px">Lo-fi Hip-Hop Beats </h5>
            <p id="Top_Streamer_Text" style="margin-left: 5px; margin-top:20px">@<%= user.username %></p>

          </div>
          </div>
          <div class="bottom">
            <p>Current Song: 7 Rings by Ariana Grande</p>
          </div>
        </div>

      <% end %>
    </div>
    <div class="exploreTopSongColumn">
      <h5> Top DJ's</h5>
      <% @topDJ.each_with_index do |a, index| %>
        <div class="exploreTopSongBox">
          <p>Title</p>
          <img src="default-avatar.jpg" class="exploreTopSongCover">
          <img src="default-avatar.jpg" class="exploreTopSongAva" name="@Artist">
          <img src="default-avatar.jpg" class="exploreTopSongAva" name="@FeaturedArtist1">
          <img src="default-avatar.jpg" class="exploreTopSongAva" name="@FeaturedArtist2">
          <br>
          <img src="default-avatar.jpg" class="exploreTopSongAlbumCover">
          <p>Album/Playlist Name</p>
          <!%= image_tag url_for(a.broadcast_cover), style: "width:130px; height:130px" %>

        </div>
      <% end %>
    </div>
    <div class="exploreTopSongColumn">
      <h5> Top Song </h5>
      <% @topDJ.each_with_index do |a, index| %>
        <div class="exploreTopSongBox">
          <div class="exploreTopSongColumnColumn">

          </div>
          <div class="exploreTopSongColumnColumn">
            <h1><%= index +1 %></h1>
          </div>
          <!%= image_tag url_for(a.broadcast_cover), style: "width:130px; height:130px" %>

        </div>
      <% end %>
    </div>
    <div class="exploreTopSongColumn">
      <h5> Top DJ's</h5>
      <% @topDJ.each_with_index do |a, index| %>
        <div class="exploreTopSongBox">
          <div class="exploreTopSongColumnColumn">

          </div>
          <div class="exploreTopSongColumnColumn">
            <h1><%= index +1 %></h1>
          </div>
          <!%= image_tag url_for(a.broadcast_cover), style: "width:130px; height:130px" %>

        </div>
      <% end %>
    </div>
    <div class="exploreTopSongColumn">
      <h5> Top DJ's</h5>
      <% @topDJ.each_with_index do |a, index| %>
        <div class="exploreTopSongBox">
          <div class="exploreTopSongColumnColumn">

          </div>
          <div class="exploreTopSongColumnColumn">
            <h1><%= index +1 %></h1>
          </div>
          <!%= image_tag url_for(a.broadcast_cover), style: "width:130px; height:130px" %>

        </div>
      <% end %>
    </div>
  </div>
</div>
<script>
    $(".exploreTopSongAva").tooltip({
            delay: 1000,
            title: ""
        }
    );
    $("#genre_value").change(function () {
        let text = $(this).children("option:selected").val();
        Rails.ajax({
            url: "/topSong?genre=" + text.trim(),
            type: "get",
            processData: false,
            success: function (song) {
                if (parseInt(song.id) === -1) {
                    $("#top_song_pic").empty();
                    $("#top_song_details").empty();
                    $("#top_song_details").append("<h2>No top chart yet!</h2>")
                } else {
                    $("#top_song_pic").empty();
                    $("#top_song_details").empty();
                    let button = document.createElement("button");
                    button.setAttribute("class", "playButton");
                    console.log(song.song_file)
                    button.addEventListener('click', event => {
                        SelectedSong(this, String(song.name), String(song.username), String(song.title), true, parseInt(song.id), String(song.song_file), String(song.cover));
                        incrementPlays(parseInt(song.id), parseInt(song.user_id))
                    });
                    let img = document.createElement("img");
                    img.setAttribute("src", song.cover);
                    img.setAttribute("class", "playButtonImage");
                    button.appendChild(img);
                    let title = document.createElement("p");
                    title.appendChild(document.createTextNode(song.title));
                    let name = document.createElement("p");
                    name.appendChild(document.createTextNode(song.name));
                    $("#top_song_pic").append(button);
                    $("#top_song_details").append(name);
                    $("#top_song_details").append(title);
                }
            },
            error: function (e) {
                console.log(e);
            }
        })
    });
</script>
