<div class="home" id="home">
  <% if logged_in? %>
    <% @user = current_user %>
    <div class="userHomePage">
      <div class="userBanner">
        <div class="home-header-column-avatar ">
          <% if @user.avatar.attached? %>
            <%= image_tag (@user.avatar), class: "avatar-home" %>
          <% else %>
            <img src="http://localhost:3000/default-avatar.jpg" class="avatar-home">
          <% end %>
        </div>
        <div class="home-header-column-user">
          <h7>
            <span class="userbadge"><%= @user.name %></span>
            <span class="userbadge"><%= link_to "@" + @user.username, user_path(@user.id), class: "links", style: "color: #425173;" %></span>
            <span class="userbadge"> <%= @user.city %>, <%= @user.state %></span>
          </h7>
        </div>
        <div class="home-header-column-posts">
          <center>
            <div class="postBadge">
              <h5>
                <span class="infobadge">Posts</span>
              </h5>
            </div>
            <div class="songBadge">
              <h5>
                <span class="infobadge">Songs</span>
              </h5>
            </div>
            <div class="postsTotal">
              <h5>
                <span class="infobadge"> <%= @user.posts.count %> </span>
              </h5>
            </div>
            <div class="songsTotal">
              <h5>
                <span class="infobadge"> <%= @user.songs.count %> </span>
              </h5>
            </div>
            <div class="followersBadge">
              <h5>
                <span class="infobadge">Followers</span>
              </h5>
            </div>
            <div class="followingBadge">
              <h5>
                <span class="infobadge">Followings</span>
              </h5>
            </div>
            <div class="followersTotal">
              <h5>
                <span class="infobadge" onclick="sendTheAJAX('<%= followers_user_path(@user)%>', '')"><%= @user.followers.count %></span>
              </h5>
            </div>
            <div class="followingTotal">
              <h5>
                <span class="infobadge" onclick="sendTheAJAX('<%= following_user_path(@user) %>', '')"><%= @user.following.count %></span>
              </h5>
            </div>
          </center>
        </div>
        <div class="postColumn">
          <a class="btn-post" data-remote="true" href="/posts/new" id='butt'>Post</a>
          <a class="btn-post" data-remote="true" href="/songs/new" id='butt1'>Song</a>
        </div>
      </div>
      <div class="userfeed">
        <%= render "/posts/userfeed" %>
      </div>
      <div class="recommended">
        <center>
          <div class="recommended-column">
            <h4 style="float:left; margin-left: 30px;">Users Recommended</h4>
            <div class="recommendedUsers">
              <% @recommendedUsers.each do |user| %>
                <div class="recommendedUser">
                  <div class="recommendedUserTop">
                    <img src="http://localhost:3000/default-avatar.jpg" style="width: 30px; height: 30px;">
                    <%= user.name %>
                  </div>
                  <div class="recommendedUserMiddle">
                    <img src="http://localhost:3000/default-avatar.jpg" class="recommendedUserFav">
                    <% if user.avatar.attached? %>
                      <%= image_tag (user.avatar), class: "recommendedUserAvatar" %>
                    <% else %>
                      <img src="http://localhost:3000/default-avatar.jpg" class="recommendedUserAvatar">
                    <% end %>
                  </div>
                  <div class="recommendedUserMiddle">

                    <div class="recommendedUserInfo">
                      <p style="text-align: center;">@<%= user.username %> <br><%= user.city %></p>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <h4 style="float:left; margin-left: 30px;">Songs Recommended</h4>

            <div class="recommendedSongs">
              <% @recommendedSongs.each do |song| %>
                <div class="recommendedSong">
                  <%= song.title %>
                </div>
              <% end %>
            </div>
          </div>
        </center>
      </div>
    </div>
    <%= will_paginate @combine, style: "display: none;" %>
  <% else %>
    <!-- Welcome to Vibin First Impression -->
    <div class="topRow">
      <div class="slideshow">
        <!--Carousel -->
        <div id="carouselExampleIndicators" class="carousel slide carouselBox" data-ride="carousel" data-interval="12000">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner carouselBox">
            <div class="carousel-item active">
              <img class="d-block w-100 carouselBox" src="http://localhost:3000/slide1.png" alt="First slide">
            </div>
            <div class="carousel-item carouselBox">
              <img class="d-block w-100 carouselBox" src="" alt="talk about groupies">
            </div>
            <div class="carousel-item carouselBox">
              <img class="d-block w-100 carouselBox" src="" alt="talk about premium">
            </div>
          </div>
          <a class="carousel-control-prev remove" href="#carouselExampleIndicators" role="button" data-slide="prev" style="background-color: inherit;">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" style="background-color: inherit;">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
    <!-- Mobile App details, Premium Details -->
    <div class="bottomRow">
      <div class="mobileAppColumn">
        <div class="iphone">
          <img src="http://localhost:3000/iphone.png" style="height: 100%; width: 100%;">
        </div>
      </div>
      <div class="premiumColumn">
        <div class="premiumTab">
          <p> Non User Benefits<br>
            Premium Benefits</p>
        </div>
      </div>
    </div>
    <!-- Top broadcast Right Now, Top Songs -->
    <div class="rightMenu">
      <div class="topBroadcast">
        <div class="BCPlayer">
          <div class="BCPlayerUserAvatar">
          </div>
          <div class="BCUserInfo">
            <h6>User name</h6>
            <h6>@username</h6>
            <h6>Houston, TX</h6>
          </div>
          <div class="BCCurrentSongCover">
          </div>
          <div class="BCInfo">
            <h6>Listeners: 1000</h6>
          </div>
        </div>
        <div class="BCChat">
        </div>
      </div>
      <div class="topChart">
        <center><h4> Top Chart </h4></center>
        <div class="topChartFeed">
          <% @TopChart.each do |song| %>
            <div class="topChart-row">
              <div class="topChart-info-column">
                <p><%= song.title %><br>
                  subgenre, genre </p>
              </div>
              <div class="topChart-cover-column">
                <center>
                  <button class="playButton" onclick="SelectedSong(this,  '<%=song.user.username%>' ,'<%= song.title %>', true ,<%=song.id %>,'<%=url_for(song.song_file) %>', '<%=url_for(song.cover_image) %>'); incrementPlays(<%= song.id %>, <%= song.user_id%>)">
                    <%= image_tag (song.cover_image), class: "playButtonImage" %>
                  </button>
                </center>
              </div>
              <div class="topChart-artist-column">
                <p><%= song.user.name %><br>
                  @<%= song.user.username %><br>
                  Houston, TX</p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  <% end %>
  </div>
</div>
<script>
    $("#refresh").on("click", function () {
        // will call refreshPartial every 3 seconds
        //  setInterval(refreshPartial, 10000)

    });

    $(function () {
        //$('.iphone').on('click', function(){
        //  var url = "https://maps.googleapis.com/maps/api/geocode/json?address=1600+Amphitheatre+Parkway,+Mountain+View,+CA&key=AIzaSyABBVE90zE3SB_kb52KWFSS2Fqumy303do",
        //  $(this).getJSON( url, {
        //    format: "json"
        //  })
        //  .done(function( data ) {
        //      console.log(data);
        //  });
        //  });
        $(".main").on("scroll", function (e) {
            if ($(".main").scrollTop() == -1) {
                // refresh timeline
                console.log("refresh timeline");
                $('.center-column').html("<%#= escape_javascript(render 'posts/userfeed')%>");
            }
        });
    });

</script>
