
  <% if logged_in? %>
    <% @user = current_user %>
    <div class="userHomePage">
      <div class="homeUserFeed">
        <%= render "/posts/userfeed" %>
      </div>
      <div class="homeRecommended">
          <h3>Music Library</h3>
        <div class="homeLibrary">
          <div class="container">
            <div class="row">
              <h4>Playlists</h4>
            </div>
            <div class="row">
              <div class="homeLibraryPlaylist">
                <img src="default-avatar.jpg" class="homeLibraryPlaylistCover">
                <p style="margin-bottom: 3px;">Playlist Name Name</p>
              </div>
              <div class="homeLibraryPlaylist">
                <img src="default-avatar.jpg" class="homeLibraryPlaylistCover">
                <p style="margin-bottom: 3px;">Playlist Name</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="homeLibrarySong">
                <div class="row">
                  <div class="col-3">
                    <img src="default-avatar.jpg" class="homeLibrarySongArtistAva">
                  </div>
                  <div class="col-9">
                    <p style="font-size: 14px; margin: 10px 0 0 -10px;">@TameImpala</p>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <img src="default-avatar.jpg" class="homeLibrarySongCover">
                </div>
                <div class="row">
                  <p style="margin-bottom: 3px; margin-top: 6px; font-size: 14px;"> Song Title</p>
                </div>
                <div class="row">
                  <div class="col">
                    <img src="default-avatar.jpg" class="homeLibrarySongFeaturedArtistAva">
                    <img src="default-avatar.jpg" class="homeLibrarySongFeaturedArtistAva">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <center>
          <div class="recommended-column">
            <h4 style="float:left; margin-left: 30px;">Users Recommended</h4>
            <div class="recommendedUsers">
              <% @recommendedUsers.each do |user| %>
                <div class="recommendedUser">
                  <div class="recommendedUserTop">
                    <img src="http://localhost:3000/default-avatar.jpg" style="width: 30px; height: 30px;">
                    <%= user.name %>
                  </div>
                  <div class="recommendedUserMiddle">
                    <img src="http://localhost:3000/default-avatar.jpg" class="recommendedUserFav">
                    <% if user.avatar.attached? %>
                      <%= image_tag (user.avatar), class: "recommendedUserAvatar" %>
                    <% else %>
                      <img src="http://localhost:3000/default-avatar.jpg" class="recommendedUserAvatar">
                    <% end %>
                  </div>
                  <div class="recommendedUserMiddle">

                    <div class="recommendedUserInfo">
                      <p style="text-align: center;">@<%= user.username %> <br></p>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <h4 style="float:left; margin-left: 30px;">Songs Recommended</h4>

            <div class="recommendedSongs">
              <% @recommendedSongs.each do |song| %>
                <div class="recommendedSong">
                  <%= song.title %>
                </div>
              <% end %>
            </div>
          </div>
        </center>
      </div>
    </div>
    <%= will_paginate @combine, style: "display: none;" %>
  <% else %>
    <div class="Non-UserHomePage" id="home">
      <div class="LeftSide">
        <div class="TopBroadcast">
          Top live stream
        </div>
        <div class="Slideshow">
          About Vibin
        </div>
      </div>
      <div class="RightSide" id="rightSide">
        <div class="TopSongs">
          Top songs from the past week
        </div>
        <div class="TopBroadcasts">
        Top streamers from the past week.
        </div>
        <div class="Trending">
        Treading songs. highest plays from the past 3 days
        </div>
        <div class="GenreList">
          select genre then display top songs from the past month.
        </div>
      </div>
    </div>


    <!-- Welcome to Vibin First Impression --
    <div class="topRow">

      <div class="slideshow">
        <--Carousel --
        <div id="carouselExampleIndicators" class="carousel slide carouselBox" data-ride="carousel" data-interval="12000">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner carouselBox">
            <div class="carousel-item active">
              <img class="d-block w-100 carouselBox" src="http://localhost:3000/slide1.png" alt="First slide">
            </div>
            <div class="carousel-item carouselBox">
              <img class="d-block w-100 carouselBox" src="" alt="talk about groupies">
            </div>
            <div class="carousel-item carouselBox">
              <img class="d-block w-100 carouselBox" src="" alt="talk about premium">
            </div>
          </div>
          <a class="carousel-control-prev remove" href="#carouselExampleIndicators" role="button" data-slide="prev" style="background-color: inherit;">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" style="background-color: inherit;">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div> --
    </div> -->
    <!-- Mobile App details, Premium Details --
    <div class="bottomRow">
      <div class="mobileAppColumn">
        <div class="iphone">
          <img src="http://localhost:3000/iphone.png" style="height: 100%; width: 100%;">
        </div>
      </div>
      <div class="premiumColumn">
        <div class="premiumTab">
          <p> Non User Benefits<br>
            Premium Benefits</p>
        </div>
      </div>
    </div>
    <-- Top broadcast Right Now, Top Songs --

    <div class="rightMenu">
      <div class="topBroadcast">
        <div class="BCPlayer">
          <div class="BCPlayerUserAvatar">
          </div>
          <div class="BCUserInfo">
            <h6>User name</h6>
            <h6>@username</h6>
            <h6>Houston, TX</h6>
          </div>
          <div class="BCCurrentSongCover">
          </div>
          <div class="BCInfo">
            <h6>Listeners: 1000</h6>
          </div>
        </div>
        <div class="BCChat">
        </div>
      </div>

      <div class="topChart">
        <center><h4> Top Chart </h4></center>
        <div class="topChartFeed">
          <!% @TopChart.each do |song| %>
            <div class="topChart-row">
              <div class="topChart-info-column">
                <p><!%= song.title %><br>
                  subgenre, genre </p>
              </div>
              <div class="topChart-cover-column">
                <center>
                  <button class="playButton" onclick="SelectedSong(this,  '<!%=song.user.username%>' ,'<!%= song.title %>', true ,<!%=song.id %>,'<!%=url_for(song.song_file) %>', '<!%=url_for(song.cover_image) %>'); incrementPlays(<!%= song.id %>, <!%= song.user_id%>)">
                    <!%= image_tag (song.cover_image), class: "playButtonImage" %>
                  </button>
                </center>
              </div>
              <div class="topChart-artist-column">
                <p><!%= song.user.name %><br>
                  @<!%= song.user.username %><br>
                  Houston, TX</p>
              </div>
            </div>
          <!% end %>
        </div>
      </div>
  <!% end %>
  </div>-->
    <%end %>
</div>
<script>
    $("#refresh").on("click", function () {
        // will call refreshPartial every 3 seconds
        //  setInterval(refreshPartial, 10000)

    });
    var topp = 110;
    $(function () {
        $(window).on('scroll', function () {
           topp = 110 + window.scrollY;
           $('.recommended').css("top", topp);
           console.log(topp);
        });
        $(window).on('resize', function() {
            var container = document.getElementsByClassName("Non-UserHomePage").offsetWidth;
            if(window.innerWidth < 777){
                rightSide.display = "none";
               // console.log("loog");
            }else{
                rightSide.display = "block";
             //   console.log(container);
                var newRightSide = (container - 500) + "px";
                $("#rightSide").css("width", newRightSide);

            }
        });
        //$('.iphone').on('click', function(){
        //  var url = "https://maps.googleapis.com/maps/api/geocode/json?address=1600+Amphitheatre+Parkway,+Mountain+View,+CA&key=AIzaSyABBVE90zE3SB_kb52KWFSS2Fqumy303do",
        //  $(this).getJSON( url, {
        //    format: "json"
        //  })
        //  .done(function( data ) {
        //      console.log(data);
        //  });
        //  });
        $(".main").on("scroll", function (e) {
            if ($(".main").scrollTop() == -1) {
                // refresh timeline
                console.log("refresh timeline");
                $('.center-column').html("<%#= escape_javascript(render 'posts/userfeed')%>");
            }
        });
    });

</script>
