<div class="post" id="<%= song.id %>">
  <div class="postLeft">
    <% if song.user.avatar.attached? %>
      <%= image_tag (song.user.avatar), class: "post-ava" %>
    <% else %>
      <img src="http://localhost:3000/default-avatar.jpg" class="post-ava">
    <% end %>
    <div class="UserPostInfo">
      <% user = User.find(post.user_id) %>
      <%= link_to "#{user.name}  @#{user.username.downcase}", user_path(user.id), onclick: "sendTheAJAX('users', #{user.id})", style: "color: white;" %>
      <p style="font-size: 12px;margin-left: 1px;margin-top: 1px;color: lightgray"> <%= age(Time.now, post.updated_at) %>
        ago</p>
    </div>
    <div id="delete">
      <% if post.user_id != current_user.id %>
        <%= link_to "Repost", post_repost_path(post), method: :post %>
        <div id="post_<%= post.id %>_likes"><%= render partial: "/posts/likes", locals: {post: post} %></div>
      <% else %>
        <%= link_to "delete", post, method: :delete, data: {confirm: "You sure?"}, remote: true, class: "delete", id: post.id %>
      <% end %>
    </div>
  </div>
  <div class="postCenter">
    <div style="margin-left: 4px; display: block; overflow: hidden;" id="content">
      <p style="font-size:18px; text-align: left;"><%= song.title %></p>
    </div>
    <div style="display: block; overflow: hidden;">
        <span class="playButton" onclick="SelectedSong(this, '<%= song.user.username%>', '<%= song.title %>', true, <%=song.id %>, '<%=url_for(song.song_file) %>', '<%=url_for(song.cover_image) %>', '<%= song.genre %>', '<%= song.subGenre %>', '<%=url_for(song.user.avatar) %>'); incrementPlays(<%= song.id %>, <%= song.user_id%>)">
          <% if song.cover_image.attached? %>
            <%= image_tag (song.cover_image), class: "playButtonImage" %>
          <% end %>
        </span>
    </div>
  </div>
</div>
