<center>
  <div class="song" id="<%= song.id %>">
    <div class="postLeft">
      <% if song.user.avatar.attached? %>
        <%= image_tag (song.user.avatar), class: "post-ava" %>
      <% else %>
        <img src="http://localhost:3000/default-avatar.jpg" class="post-ava">
      <% end %>
      <span style="color: white; display: block; font-size: 15px;"><%= (song.user).name %></span>
      <%= link_to "@" + song.user.username, user_path(song.user_id), onclick: "sendTheAJAX('users', #{song.user_id})", style: "color: white;" %>
    </div>
    <div class="postCenter">
      <div style="margin-left: 4px; display: block; overflow: hidden;" id="content">
        <p style="font-size:18px; text-align: left;"><%= song.title %></p>
      </div>
      <div style="display: block; overflow: hidden;">
        <span class="playButton" onclick="SelectedSong(this, '<%= song.user.username%>', '<%= song.title %>', true, <%=song.id %>, '<%=url_for(song.song_file) %>', '<%=url_for(song.cover_image) %>', '<%= song.genre %>', '<%= song.subGenre %>', '<%=url_for(song.user.avatar) %>'); incrementPlays(<%= song.id %>, <%= song.user_id%>)">
          <% if song.cover_image.attached? %>
            <%= image_tag (song.cover_image), class: "playButtonImage" %>
          <% end %>
        </span>
      </div>
    </div>
    <div class="postRight">
      <p style="color: white;"><%= song.updated_at.month %>/<%= song.updated_at.day %>/<%= song.updated_at.year %>
        <br><%= age(Time.now, song.updated_at) %></p>
      <% if song.user_id == current_user.id %>
        <p><%= link_to "delete", song, method: :delete,
                       data: {confirm: "You sure?"}, remote: true, class: "delete", id: song.id %></p>
      <% else %>
        <div id="song_<%= song.id %>_likes"><%= render partial: "/songs/likes", locals: {song: song} %></div>
      <% end %>
    </div>
  </div>
</center>
