<div class="container forall border border-dark">

  <h1>Create new album</h1>

  <%= form_for @album do |f| %>
    <div class="album">
      <div class="album_view">
        <img src=<%= image_url("PictureUploadButton.png") %> class="album" id="Album_Cover"/>
        <%= f.label :title, style: "margin-right: 36px;", id: "title" %>
        <%= f.text_field :title, id: "title_text_space" %>
      </div>
    </div>

    <div class="album_view">
      <%= f.file_field :album_cover, accept: "image/png, image/jpeg", id: "cover_image" %>
    </div>
    <h1>Songs</h1>
    <%= link_to_add_fields 'Add Song to Album', f, :songs %>
    <%= f.submit "Add Album", class: "btn btn-primary", style: "margin-bottom: 100px;" %>
  <% end %>
</div>

<script>$("[data-form-prepend]").click(function (e) {
    var obj = $($(this).attr("data-form-prepend"));
    var date = new Date().getTime();
    obj.find("input, select, textarea").each(function () {
        $(this).attr("name", function () {
            return $(this)
                .attr("name")
                .replace("new_record", date);
        });
    });
    obj.insertBefore(this);
    return false;
});
$("#cover_image").change(function () {
    readUrl(this);
});
</script>