<% playlists = current_user.playlists if !current_user.nil? %>
<% if playlists.nil? || playlists.length == 0 %>
  <%= form_for :playlist, :url => {:action => :create, :controller => :playlists, :id => @playlist} do |x| %>
    <%= x.text_field :title, id: "playlist_text_Field", placeholder: "Create New Playlist " %>
    <%= x.submit "Create", id: "Playlist_button" %>
  <% end %>
<% else %>
  <h4><%= current_user.username %>'s Playlists </h4>
  <div class="addPlaylist">
    <%= form_for :playlist, :url => {:action => :create, :controller => :playlists, :id => @playlist} do |x| %>
      <%= x.text_field :title, id: "playlist_text_Field", placeholder: "Create New Playlist", maxlength: 20 %>
      <%= x.submit "Create" %>
    <% end %>
  </div>
  <% playlists.each do |f| %>
    <div class="addPlaylist">
      <% url = getPlaylistImage(f.id) %>
      <img class=logo src="<%= url.nil? ? "default-avatar.jpg" : image_url(url) %>"/>

      <button class="PlayOnPlaylist" onclick='SelectedSong(null, null,null,false,<%=playlistToArray(f.id).to_json%>, <%= f.id.to_json %>,<%=f.id %>)'>
        <i id="play-icon" class="ion-play"></i>
      </button>
      <h5 onclick='SelectedSong(null, null,null,false,<%=playlistToArray(f.id).to_json%>, <%= f.id.to_json %>,<%=f.id %>)'>
        <%= f.title %></h5>

      <button class="arrowDropdown" id='list_<%= f.id %>' onclick=showList("song_list_<%= f.id %>"); data-playlist="<%= f.id %>">
        <ion-icon name="arrow-dropdown"></ion-icon>
      </button>
      <div class="displayOptions">
        <button class="PlaylistOptions" id="PlaylistOptionsButton">
          <ion-icon id="ionIcon" name="more"></ion-icon>
          <div class="options_list" id="option_list_<%= f.id %>">
            <% if @inPlaylist != nil %>
              <% if !inPlaylist.include?(f.id) %>
                <a id="SongtoPlaylist_<%= f.id %>" onclick="addtoPL(parseInt(get_current_song()),<%=f.id.to_i %>,'<%=f.id %>')">
                  Add to Playlist
                </a>
              <% else %>
                <a id="SongtoPlaylist_<%= f.id %>" onclick="removeFromPL(parseInt(get_current_song()),<%=f.id.to_i %>,' <%=f.id %>')">
                  Remove From Playlist
                </a>
              <% end %>
            <% end %>
            <a onclick='SelectedSong(null, null,null,false,<%=playlistToArray(f.id).to_json%>, <%= f.id.to_json %>,<%=f.id %>)'>Start
              Playlist</a>
            <a>Start Radio</a>
            <%= link_to 'Delete Playlist', playlist_url(f), method: :delete, data: {confirm: "Are you sure?"}, style: "color: white;" %>
          </div>
        </button>
      </div>
    </div>
    <div class="PlaylistSongs" id="song_list_<%= f.id %>" style="display: <%= showPlaylistSongs?(currentplaylist, f.id) %>">
      <%= render partial: "playlists/songs", locals: {song_pos: Get_Specific_Positions(f.id)} %>
    </div>
  <% end %>


<% end %>
