<% unless cookies[:playlist].to_s.length == 0 %>
  <div class="playlist-modal-body">
    <div id="playlists" class="list-group data-url" data-url="<%= sort_playlists_path %>">
      <% if !song_pos.nil? %>
        <% song_pos.each_with_index do |song_position, index| %>
          <div class="list-item" id='<%= dom_id(song_position) %>' onclick="setNewPlaylistSong(<%=index%>,<%= playlistToArray(song_position.playlist_id).to_json%>,<%=song_position.playlist_id%>)">
            <% @songdata = link_to_song song_position %>
            <img src='<%= url_for @songdata.cover_image %>' style="width: 40px; height: 40px;"/>
            <h6><%= @songdata.title %></h6>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
<script>
    if (!isShuffled)
        $("#playlists").sortable({
            update: function (a, ui) {
                console.log($(this).sortable('serialize'));
                Rails.ajax({
                    url: $(this).data("url"),
                    type: "PATCH",
                    data: $(this).sortable('serialize'),
                    success: function (data) {
                        ReorderSongs(data.id);
                    }, error: function (data) {
                        console.log(data);
                    }
                });
            }
        });
</script>
