<h1>Playlists#show</h1>
<p>Find me in app/views/playlists/show.html.erb</p>

<% if @playlists.length == 0 %>
  <p> You dont have any playlists... Go like some songs and make one!</p>
<% else %>
  <p>
    <%= current_user.username %>'s Playlists </p>
  <% @playlists.each do |f| %>
    <h1 onclick='SelectedSong(null, null,null,false,<%=playlistToArray(f.id).to_json%>, <%= f.id.to_json %>,<%=f.id %>)'>
      <%= f.title %> ..... click me to test the functionality</h1>
  <% end %>
<% end %>
