<%= image_tag "Vibin", class: "VibinTab", onclick: "sendTheAJAX('', '')"%>
<%= image_tag "explore", class: "ExploreTab", onclick: "sendTheAJAX('explore', '')"%>
<%= image_tag "groupies", class: "GroupiesTab", onclick: "sendTheAJAX('groupies', '')"%>

<%= form_tag search_path, method: :get, remote: true do %>
  <%= text_field_tag :term, nil, placeholder: "Search", class: "SearchBar" %>
<% end %>

<script>
    var login = $(".login");

    $(window).resize(function () {
        var groupies = $(".GroupiesTab");
        var groupiesPosition = groupies.position();
        var loginPosition = login.position();
        login =  $(".login");
        var l = parseInt(loginPosition.left) - parseInt(groupiesPosition.left) - 60 ;
        var lpx = l + " px";
       // console.log(lpx);
        if(loginPosition.left - groupiesPosition.left < 290){
            $(".SearchBar").css("width", l);
        } else{
          $(".SearchBar").css("width", 220);
        }

    });
    function openLogin(){
        $('.dropdown-content-login').css('display', 'block');
    };
    $(function(){
        $(window).click(function (e) {
            if($('.dropdown-content-login').css('display') == 'block' &&
                (e.target.className == "emailBox" || e.target.className == "loginButton")){
                console.log();
            }
            else if ($('.dropdown-content-login').css('display') == 'block' ){
                $('.dropdown-content-login').css('display', 'none');
                console.log(e.target.className);
            }
        });
    });
</script>


<div class="login" onmouseover="openLogin()">Login
  <div class="dropdown-content-login">
    <%= render 'sessions/form'%>
  </div>
</div>

<% if logged_in? %>
  <div id="current-user">

  </div>
<% end %>