<%= image_tag "Vibin", class: "VibinTab", onclick: "ajaxToPage('')"%>
<%= image_tag "explore", class: "ExploreTab", onclick: "ajaxToPage('explore')"%>
<%= image_tag "groupies", class: "GroupiesTab", onclick: "ajaxToPage('groupies')"%>

<%= form_tag search_path, method: :get, remote: true do %>
  <%= text_field_tag :term, nil, placeholder: "Search", class: "SearchBar" %>
<% end %>

<div style="float: right; margin-top: 2px;">
  <%= image_tag "PostButton", class: "Tab", onclick: "openPostModal()" %>
    <%= image_tag "messages", class: "Tab", onclick: "sendTheAJAX('conversations', '')"%>
  <div class="NotificationTabDiv">
    <%= image_tag "notification", class: "Tab" %>
    <div class="dropdown-content-notification">
      <h6><%= current_user.name %></h6>
    </div>
  </div>
  <div class="userTabDiv">
    <span onclick="sendTheAJAX('<%= user_path(current_user) %>', '')" id="userProfile">
      <% if current_user.avatar.attached? %>
        <%= image_tag (current_user.avatar), class: "search-ava" %>
      <% else %>
        <img src="http://localhost:3000/default-avatar.jpg" class="search-ava">
      <% end %>
    </span>
    <div class="dropdown-content">
      <h6><%= current_user.name %></h6>
      <!-- DONT USER LINK TO, IT REFRESHES THE PAGE AND STOPS AUDIO FUNCTIONS. DO IT LIKE YOU DID THE LINKS UP TOP. -->
      <h6><%= link_to "@#{current_user.username}", user_path(current_user) %> </h6>
      <%= link_to "Settings", "#", :onclick => "sendTheAJAX('settings', '#{current_user.id}')" %>
      <%= link_to 'Log Out', logout_path, method: :delete, style: "width:100%;" %>
    </div>
  </div>

  <% if logged_in? %>
    <div id="current-user"></div>
  <% end %>
</div>


<script>

    function ajaxToPage(page) {
        $.ajax({
            type: 'GET',
            url: '/'+page,
            data: {
            },
            success: function(result) {
                document.getElementById('main').innerHTML = result;
                console.log('it worked');
                $.ajax({
                    method: "GET",
                    url: "home.js",
                    dataType: "script",
                    success: function (e) {
                        console.log("success");
                    },
                     error: function (e) {
                        console.log(e);
                     }
                });
            },
            error: function (error) {
                console.log("error ", error);
            }
        });
        window.history.pushState("object or string", "Sign up", "/" + page);
    }
    function openPostModal(){
      $('#modal').css('display', 'flex');
      $.ajax({
          type: 'GET',
          url: '/songs/new',
          data: {
          },
          success: function(result) {
              $('#modal').innerHTML = result;
              },
          error: function (error) {
              console.log("error ", error);
          }
      });
  }


</script>