<%= image_tag "Vibin", class: "VibinTab", onclick: "sendTheAJAX('', '')"%>
<%= image_tag "explore", class: "ExploreTab", onclick: "sendTheAJAX('explore', '')"%>
<%= image_tag "groupies", class: "GroupiesTab", onclick: "sendTheAJAX('groupies', '')"%>

<%= form_tag search_path, method: :get, remote: true do %>
  <%= text_field_tag :term, nil, placeholder: "Search", class: "SearchBar" %>

<% end %>

<div style="float: right;">
<div class="login">Login
  <div class="dropdown-content-login">
    <%= render 'sessions/form'%>
  </div>
</div>

<% if logged_in? %>
  <div id="current-user"></div>
<% end %>
</div>
