<%= image_tag "Vibin", class: "VibinTab", onclick: "sendTheAJAX('', '')"%>
<%= image_tag "explore", class: "ExploreTab", onclick: "sendTheAJAX('explore', '')"%>
<%= image_tag "groupies", class: "GroupiesTab", onclick: "sendTheAJAX('groupies', '')"%>

<%= form_tag search_path, method: :get, remote: true do %>
  <%= text_field_tag :term, nil, placeholder: "Search", class: "SearchBar" %>
<% end %>

<script>

    function openLogin(){
        $('.dropdown-content-login').css('display', 'block');
    }
    $("body").click(function(e) {
        if (!e.target.id == "login" || !$(e.target).parents("#login").length) {
            $('.dropdown-content-login').css('display', 'none');
        }
    });

</script>


<div class="login" onmouseover="openLogin()" id="login">Login
  <div class="dropdown-content-login">
    <%= render 'sessions/form'%>
  </div>
</div>

<% if logged_in? %>
  <div id="current-user">

  </div>
<% end %>